module.exports = {

    // What level of logs should be shown?
    // Value: "VERBOSE", "DEBUG", "INFO", "WARN" or "ERROR"
    LOG_LEVEL: "INFO",

    // The status of the commands that you want to create / update on restart
    // Value: "ENABLED", "DEV", "ALL"
    CMD_LOAD_LEVEL: "ENABLED",

    // The guild where commands in dev status will be created when enabled
    CMD_DEV_GUILD: "",

    // Miscellaneous config values
    MISC: {
        // The port to expose metrics for prometheus on
        METRICS_PORT: 9860,

        // The minecraft server ip
        SERVER_IP: ""
    }

}
